/*css de index*/
* {
  margin: 0;
  padding: 0; }

.header, .containerIndex {
  height: 200px;
  background-color: #403D42;
  opacity: 0.7; }

h1 {
  position: absolute;
  z-index: 1;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 28%;
  width: 99%;
  font-size: 500%; }

.titulo {
  border: solid 2px;
  color: white; }

@media (max-height: 590px) {
  h1 {
    margin-top: 5%; } }

@media (min-height: 940px) {
  h1 {
    padding-bottom: 10%; } }

@media (max-width: 598px) {
  h1 {
    font-size: 50px; } }

body {
  background-image: url("https://c.wallhere.com/photos/9e/cb/still_life_noodles_eggs_food_cheese_tomatoes-1248121.jpg!d");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow: visible; }

@media (max-width: 1190px) {
  body {
    background-repeat: repeat-y;
    background-attachment: unset; } }

@media (min-height: 950px) {
  body {
    background-repeat: repeat-y;
    background-attachment: unset; } }

.nav {
  font-weight: bolder; }

@media (max-width: 599px) {
  .nav {
    font-size: 10px; } }

.li {
  color: white; }

.collapse {
  height: 65px; }

.containerIndex {
  height: 80px;
  border: solid 2px;
  border-top: none;
  color: white; }

.menu {
  position: absolute;
  z-index: 1; }

@media (max-width: 992px) {
  ul {
    display: flex;
    justify-content: center;
    flex-direction: row; } }

ul li:hover {
  font-size: larger;
  font-weight: bolder; }

.imgIndex {
  margin-top: 2%; }

.pIndex {
  border: dotted 2px;
  color: white;
  background-color: #575259;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 2%; }

footer {
  color: black;
  font-size: large;
  font-weight: bolder;
  font: message-box;
  color: white; }

.footer1 {
  position: absolute;
  z-index: 1; }

.footer2 {
  background-color: #403D42;
  opacity: 0.8;
  height: 155px;
  margin-bottom: 1%; }

.contacto {
  padding: 5px; }

.contacto2 {
  padding: 10px; }

@media (max-width: 476px) {
  .contacto {
    font-size: 18px; } }

@media (max-width: 476px) {
  .contacto2 {
    font-size: 12px; } }

.telefono {
  border-right: solid 2px;
  color: white; }

/*css de index*/
* {
  margin: 0;
  padding: 0; }

.header, .containerIndex {
  height: 200px;
  background-color: #403D42;
  opacity: 0.7; }

h1 {
  position: absolute;
  z-index: 1;
  align-items: center;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  height: 28%;
  width: 99%;
  font-size: 500%; }

.titulo {
  border: solid 2px;
  color: white; }

@media (max-height: 590px) {
  h1 {
    margin-top: 5%; } }

@media (min-height: 940px) {
  h1 {
    padding-bottom: 10%; } }

@media (max-width: 598px) {
  h1 {
    font-size: 50px; } }

body {
  background-image: url("https://c.wallhere.com/photos/9e/cb/still_life_noodles_eggs_food_cheese_tomatoes-1248121.jpg!d");
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  overflow: visible; }

@media (max-width: 1190px) {
  body {
    background-repeat: repeat-y;
    background-attachment: unset; } }

@media (min-height: 950px) {
  body {
    background-repeat: repeat-y;
    background-attachment: unset; } }

.nav {
  font-weight: bolder; }

@media (max-width: 599px) {
  .nav {
    font-size: 10px; } }

.li {
  color: white; }

.collapse {
  height: 65px; }

.containerIndex {
  height: 80px;
  border: solid 2px;
  border-top: none;
  color: white; }

.menu {
  position: absolute;
  z-index: 1; }

@media (max-width: 992px) {
  ul {
    display: flex;
    justify-content: center;
    flex-direction: row; } }

ul li:hover {
  font-size: larger;
  font-weight: bolder; }

.imgIndex {
  margin-top: 2%; }

.pIndex {
  border: dotted 2px;
  color: white;
  background-color: #575259;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bolder;
  margin-top: 2%;
  margin-bottom: 2%; }

footer {
  color: black;
  font-size: large;
  font-weight: bolder;
  font: message-box;
  color: white; }

.footer1 {
  position: absolute;
  z-index: 1; }

.footer2 {
  background-color: #403D42;
  opacity: 0.8;
  height: 155px;
  margin-bottom: 1%; }

.contacto {
  padding: 5px; }

.contacto2 {
  padding: 10px; }

@media (max-width: 476px) {
  .contacto {
    font-size: 18px; } }

@media (max-width: 476px) {
  .contacto2 {
    font-size: 12px; } }

.telefono {
  border-right: solid 2px;
  color: white; }

/*css de nosotros*/
.liNosotros {
  margin: 4.5%; }

.nosotros {
  text-align: center;
  padding-bottom: 5%; }

.parrafo1 {
  margin-top: 5%;
  text-align: center;
  width: 20%;
  font-size: 200%;
  font-weight: bolder;
  font-style: italic;
  background-color: #575259;
  color: white; }

.parrafo2, h1, .tabla2 {
  display: flex;
  justify-content: center; }

/*css de nosotros*/
.liNosotros {
  margin: 4.5%; }

.nosotros {
  text-align: center;
  padding-bottom: 5%; }

.parrafo1 {
  margin-top: 5%;
  text-align: center;
  width: 20%;
  font-size: 200%;
  font-weight: bolder;
  font-style: italic;
  background-color: #575259;
  color: white; }

.parrafo2, h1, .tabla2 {
  display: flex;
  justify-content: center; }

/*css nuestra ciudad*/
.ciudad {
  text-align: center;
  padding: 1%;
  margin-top: 5%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 110%;
  border-style: dotted;
  color: white;
  background-color: #575259; }

.imgCiudad {
  display: flex;
  flex-direction: column; }

.imagenes {
  margin: 3%;
  transition: 1s; }

.imagenes:hover {
  transform: scale(1.2, 1.2); }

/*css nuestra ciudad*/
.ciudad {
  text-align: center;
  padding: 1%;
  margin-top: 5%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 110%;
  border-style: dotted;
  color: white;
  background-color: #575259; }

.imgCiudad {
  display: flex;
  flex-direction: column; }

.imagenes {
  margin: 3%;
  transition: 1s; }

.imagenes:hover {
  transform: scale(1.2, 1.2); }

/*css de productos*/
.pasta {
  transition: 1s;
  margin-top: 3%;
  margin-bottom: 3%; }

.tituloPasta {
  margin-top: 3%;
  background-color: #403D42;
  color: white;
  width: 600px;
  text-align: center; }

.pasta:hover {
  transform: scale(1.2, 1.2); }

.tabla {
  text-align: center;
  color: white; }

.tabla2 {
  margin-bottom: 3%; }

.infoNutri {
  margin-top: 3%;
  color: white; }

table {
  margin-top: 15px;
  font-size: larger;
  background-color: #575259;
  color: white;
  border: solid 1px; }

tr {
  border: solid 1px; }

td {
  border: solid 1px; }

th {
  border: solid 1px;
  background-color: black; }

.form {
  margin-bottom: 2%; }

#formulario {
  background-color: #403D42;
  color: white; }

input {
  display: block; }

.sexo {
  display: inline;
  margin-top: 10px; }

.dias {
  display: block;
  margin-top: 10px; }

.botones {
  display: inline-block;
  margin: 1%;
  margin-top: 3%; }

.tituloForm {
  padding: 1%; }

/*css de productos*/
.pasta {
  transition: 1s;
  margin-top: 3%;
  margin-bottom: 3%; }

.tituloPasta {
  margin-top: 3%;
  background-color: #403D42;
  color: white;
  width: 600px;
  text-align: center; }

.pasta:hover {
  transform: scale(1.2, 1.2); }

.tabla {
  text-align: center;
  color: white; }

.tabla2 {
  margin-bottom: 3%; }

.infoNutri {
  margin-top: 3%;
  color: white; }

table {
  margin-top: 15px;
  font-size: larger;
  background-color: #575259;
  color: white;
  border: solid 1px; }

tr {
  border: solid 1px; }

td {
  border: solid 1px; }

th {
  border: solid 1px;
  background-color: black; }

.form {
  margin-bottom: 2%; }

#formulario {
  background-color: #403D42;
  color: white; }

input {
  display: block; }

.sexo {
  display: inline;
  margin-top: 10px; }

.dias {
  display: block;
  margin-top: 10px; }

.botones {
  display: inline-block;
  margin: 1%;
  margin-top: 3%; }

.tituloForm {
  padding: 1%; }

/*css de servicios*/
.servicios {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  color: white; }

.serv {
  padding: 2%; }

/*css de servicios*/
.servicios {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding-top: 2%;
  color: white; }

.serv {
  padding: 2%; }
