/*css de index*/

$gris: #403D42;
$grisOscuro: #575259;

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 200px;
    background-color: $gris;
    opacity: 0.7;
}

h1{
    position: absolute;
    z-index: 1;
    @extend .parrafo2;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 28%;
    width: 99%;
    font-size: 500%;
}

.titulo{
    border: solid 2px;
    color: white;
}

@media (max-height: 590px){
    h1{
        margin-top: 5%;
    }
}

@media (min-height: 940px){
    h1{
        padding-bottom: 10%;
    }
}

@media (max-width: 598px){
    h1{
        font-size: 50px;
    }
}

body{
    background-image: url("https://c.wallhere.com/photos/9e/cb/still_life_noodles_eggs_food_cheese_tomatoes-1248121.jpg!d");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow: visible;
}

@media (max-width: 1190px) {
    body{
        background-repeat: repeat-y;
        background-attachment: unset;
    }
}

@media (min-height: 950px){
    body{
        background-repeat: repeat-y;
        background-attachment: unset;
    }
}

.nav{
    font-weight: bolder;
}

@media (max-width: 599px){
    .nav{
        font-size: 10px;
    }
}

.li{
    color: white;
}


.collapse{
    height: 65px;
}

.containerIndex{
    @extend .header;
    height: 80px;
    border: solid 2px;
    border-top: none;
    color: white;
}

.menu{
    position: absolute;
    z-index: 1;
}

@media (max-width: 992px) {
    ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

ul li:hover{
    font-size: larger;
    font-weight: bolder;
}

.imgIndex{
    margin-top: 2%;
}

.pIndex{
    border: dotted 2px;
    color: white;
    background-color: $grisOscuro;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer{
    color: black ;
    font-size: large;
    font-weight: bolder;
    font: message-box;
    color: white;
}

.footer1{
    position: absolute;
    z-index: 1;
}

.footer2{
    background-color: $gris;
    opacity: 0.8;
    height: 155px;
    margin-bottom: 1%;
}

.contacto{
    padding: 5px;
}

.contacto2{
    padding: 10px;
}

@media (max-width: 476px){
    .contacto{
        font-size: 18px;
    }
}

@media (max-width: 476px){
    .contacto2{
        font-size: 12px;
    }
}

.telefono{
    border-right: solid 2px;
    color: white;
}

/*css de index*/

$gris: #403D42;
$grisOscuro: #575259;

*{
    margin: 0;
    padding: 0;
}

.header{
    height: 200px;
    background-color: $gris;
    opacity: 0.7;
}

h1{
    position: absolute;
    z-index: 1;
    @extend .parrafo2;
    align-items: center;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 28%;
    width: 99%;
    font-size: 500%;
}

.titulo{
    border: solid 2px;
    color: white;
}

@media (max-height: 590px){
    h1{
        margin-top: 5%;
    }
}

@media (min-height: 940px){
    h1{
        padding-bottom: 10%;
    }
}

@media (max-width: 598px){
    h1{
        font-size: 50px;
    }
}

body{
    background-image: url("https://c.wallhere.com/photos/9e/cb/still_life_noodles_eggs_food_cheese_tomatoes-1248121.jpg!d");
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    overflow: visible;
}

@media (max-width: 1190px) {
    body{
        background-repeat: repeat-y;
        background-attachment: unset;
    }
}

@media (min-height: 950px){
    body{
        background-repeat: repeat-y;
        background-attachment: unset;
    }
}

.nav{
    font-weight: bolder;
}

@media (max-width: 599px){
    .nav{
        font-size: 10px;
    }
}

.li{
    color: white;
}


.collapse{
    height: 65px;
}

.containerIndex{
    @extend .header;
    height: 80px;
    border: solid 2px;
    border-top: none;
    color: white;
}

.menu{
    position: absolute;
    z-index: 1;
}

@media (max-width: 992px) {
    ul{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

ul li:hover{
    font-size: larger;
    font-weight: bolder;
}

.imgIndex{
    margin-top: 2%;
}

.pIndex{
    border: dotted 2px;
    color: white;
    background-color: $grisOscuro;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    margin-top: 2%;
    margin-bottom: 2%;
}

footer{
    color: black ;
    font-size: large;
    font-weight: bolder;
    font: message-box;
    color: white;
}

.footer1{
    position: absolute;
    z-index: 1;
}

.footer2{
    background-color: $gris;
    opacity: 0.8;
    height: 155px;
    margin-bottom: 1%;
}

.contacto{
    padding: 5px;
}

.contacto2{
    padding: 10px;
}

@media (max-width: 476px){
    .contacto{
        font-size: 18px;
    }
}

@media (max-width: 476px){
    .contacto2{
        font-size: 12px;
    }
}

.telefono{
    border-right: solid 2px;
    color: white;
}