/*css de nosotros*/

.liNosotros{
    margin: 4.5%;
}

.nosotros{
    text-align: center;
    padding-bottom: 5%;
}

.parrafo1{
    margin-top: 5%;
    text-align: center;
    width: 20%;
    font-size: 200%;
    font-weight: bolder;
    font-style: italic;
    background-color: $grisOscuro;
    color: white;
}

.parrafo2{
    display: flex;
    justify-content: center;
}

/*css de nosotros*/

.liNosotros{
    margin: 4.5%;
}

.nosotros{
    text-align: center;
    padding-bottom: 5%;
}

.parrafo1{
    margin-top: 5%;
    text-align: center;
    width: 20%;
    font-size: 200%;
    font-weight: bolder;
    font-style: italic;
    background-color: $grisOscuro;
    color: white;
}

.parrafo2{
    display: flex;
    justify-content: center;
}