/*css nuestra ciudad*/

.ciudad{
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    border-style: dotted;
    color: white;
    background-color: $grisOscuro;
}

.imgCiudad{
    display: flex;
    flex-direction: column;
}

.imagenes{
    margin: 3%;
    transition: 1s;
}

.imagenes:hover{
    transform: scale(1.2,1.2);
}

/*css nuestra ciudad*/

.ciudad{
    text-align: center;
    padding: 1%;
    margin-top: 5%;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 110%;
    border-style: dotted;
    color: white;
    background-color: $grisOscuro;
}

.imgCiudad{
    display: flex;
    flex-direction: column;
}

.imagenes{
    margin: 3%;
    transition: 1s;
}

.imagenes:hover{
    transform: scale(1.2,1.2);
}