/*css de servicios*/

.servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 2%;
    color: white;
}

.serv{
    padding: 2%;
}

/*css de servicios*/

.servicios{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    padding-top: 2%;
    color: white;
}

.serv{
    padding: 2%;
}